:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}
body {
  background: rgb(0, 33, 73);
  background: linear-gradient(295.79deg, #5C429E 23%, #0049A4 49.76%, #002149 86.96%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
}
